:root {
    --green: #009e3d;

    --lightgreen: #88df55;
}

* {
    margin: 0;
    border: 0;
    list-style: none;
}



#logoEscrito {
    font-family: 'Satisfy', cursive;
    color: black;
    font-size: 2rem;
}
#titulo{
    color: #1e6340;
    text-align: center;

}

.header {
    background-color: var(--lightgreen);
}

.nav-item {
    
    text-align: center;
}

.nav-item a {
    background-color: var(--green);
    border-radius: 21px;
    text-decoration: none;
    padding: 8px;
    margin: 0.5rem;
    transition: linear 1s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;

}


.nav-item a:hover {
    transition: linear 0.5s;
    font-size: 1.7rem;

}


.nav-item a:visited {
    background-color: whitesmoke;
    color: var(--green);
}

.heart{
    color: red;
}